@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    overflow: hidden;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
}

.header__square-pic_type_rotate {
    animation: rotation 20s ease-in-out infinite;
}

.header__title {
    padding-left: 64px;
    margin: 0;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 1;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__subtitle {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 30px;
    left: 64px;
    margin: 0;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-image: url(../images/header-image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.link {
    transition: opacity 0.3s ease;
}

.link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.description {
    padding-top: 100px;
}

.techniques {
    padding-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.cards__item {
    flex-basis: 0%;
    margin-right: 100px;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}

.cards__images {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin: 60px 40px 0;
    align-items: center;
    display: block;
}

.techniques__section-title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
}

.techniques__section-subtitle {
    line-height: 34px;
    font-size: 24px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 43px;
}

.cards__description {
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
}

.video {
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.video__section-title {
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.video__section-subtitle {
    margin-bottom: 50px;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
}

.video__iframes {
    display: flex;
    margin-bottom: -50px;
    justify-content: center;
}

.video__iframe {
    width: 515px;
    height: 316px;
    margin-right: 20px;
    border: 0;
}

.video__iframe:last-child {
    margin-right: 0;
}

.oakley {
    background-color: #f2f2f2;
    padding-top: 160px;
    padding-bottom: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    width: 175px;
    margin: 0;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.section-title {
    width: 60%;
    text-align: center;
}

.section-subtitle {
    width: 60%;
    margin-top: 20px;
    text-align: center;
}

.digits {
    padding: 100px 0;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.section-title {
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.section-subtitle {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

.table__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}

.khan__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.khan__quote {
    width: 790px;
    padding-top: 50px;
    padding-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.khan__quote-author-subline {
    padding-top: 10px;
    padding-bottom: 68px;
    line-height: 1.15;
    font-size: 24px;
}

.khan__book-container {
    display: flex;
}

.khan__book-pic {
    width: 608px;
    height: 620px;
    object-fit: cover;
    object-position: top center;
    margin-right: 48px;
}

.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    text-decoration: none;
    color: #2f80ed;
}

.feynman {
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    background-image: url(../../howToLearn/images/feynman.png);
    background-position: bottom left;
    background-size: 867px;
    background-repeat: no-repeat;
    min-height: 890px;
}

.feynman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 0;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    margin: 70px auto 0 auto;
    text-align: center;
    width: 648px;
}

.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #2f80ed;
}

.feynman__link:hover {
    text-decoration: underline;
}

.kaufman {
    padding: 90px 0;
    background-color: #1f1f1f;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.kaufman__triangle {
    position: absolute;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: cover;
    background-position: center;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: 0;
}

.kaufman__triangle_type_rotate {
    animation: rotation 20s ease-in-out infinite;
}

.table__cell_theme_dark {
    margin-top: 80px;
    width: 200px;
}

.table_theme_dark {
    position: relative;
}

.resources__section-title {
    width: 60%;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 100px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.resources__section-subtitle {
    width: 60%;
    text-align: center;
    margin: 0 auto 80px auto;
    line-height: 34px;
    font-size: 24px;
}

.resources__logo-zone {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 217px;
    display: flex;
    justify-content: center;
}

.resources__logo {
    width: 270px;
    height: 38px;
}

.resources__link:hover {
    text-decoration: none;
}

.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
    box-sizing: border-box;
}

.footer__columns {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo_place_footer {
    width: 228px;
    height: auto;
}

.footer__author {
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    margin: 0;
}

.footer__column {
    min-height: 250px;
}

.footer__column-heading {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.footer__column-links {
    list-style-type: none;
    margin-bottom: 16px;
    margin-top: 0;
    padding-left: 0;
}

.footer__column-link {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

.footer__column-link:hover {
    text-decoration: underline;
}

.footer__social-icon {
    padding-right: 10px;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}
