:root {
  --accent:  #2f80ed;
}

* {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}


/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: rgb(251, 245, 245);
  margin-right: 0;
  margin-top: 80px;
}*/
.header__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-left: 64px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header_title {
  width: 730px;
  padding-left: 64px;
}
h1 {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
.header_subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
.main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
.link {
  color: #2f80edE5;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.description {
 padding: 100px 0;
}
.two-columns {
display:flex;
justify-content: space-between;
width: 80%;
margin-left: auto;
margin-right: auto;
}
.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__brief {
line-height: 1.2;
font-size: 18px;
font-weight: normal;
color: #2f80ed;
width: 175px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.digits {
  padding: 100px 0;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 1100px;
  margin: auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  margin-top: 20px;
}
.table__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}
.feynman {
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-size: 867px;
  background-repeat: no-repeat;
  height: 890px;
}
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.feynman_subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 70px auto 0 auto;
  text-align: center;
  width: 648px;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
}


.kaufman {
  padding: 90px 0;
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.kaufman_triangle {
position: absolute;
right: -210px;
top: 0;
}
.kaufman_triangle svg {
  width: 887px;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}
.kaufman__content {
  position: relative;
}


.footer {
  min-height: 350px;
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 40px;
  color:#fff;
}
.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo_place_footer {
  display: flex;
  top: 30px;
}
.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  margin-top: auto;
}
.footer__column {
  min-height: 250px;
}
.footer__column-heading {
  text-align:center;
  margin-top: 20px;
}
.footer__column-links {
  list-style-type: none;
  margin-bottom: 16px;
}
.footer__column-link {
  padding: 10px;
}
.footer__social-icon {
  padding-right: 10px;
}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
}
.footer__column-link a {
  color: #fff;
}

